<main>
    <h1>Signup or Create an Account</h1>

    <form method="POST" action="/login" class="loginForm">
        <input type="text" placeholder="Enter username" name="username" />
        <input type="text" placeholder="Enter password" name="password" />
        <br/>
        
        <div class="center">
            <button class="buttonBlueBorder" formaction="/createAcct">Create Account</button>
            <button class="buttonBlueBorder" formaction="/login">Login</button>
        </div>
    </form>
    <br/>
</main>