<main>  
    <h1>Create An Account</h1>

    <p class="center">Would you like to sign up monthly membership plan ($75)?</p>
    <div class="center" style="padding: 10px">
        <button class="buttonBlueBorder"><a href="/memberPlan">Yes</a></button>
        <button class="buttonBlueBorder"><a href="/classSch">No</a></button>
    </div>    
</main>
